{% extends "base.html" %}

{% load static %}
{% load recipe_filters %}

{% block title %}Создание рецепта{% endblock %}

{% block styles %}
  <link rel="stylesheet" href={% static 'recipes/pages/form.css' %}>
{% endblock %}

{% block content %}

  <div class="main__header">
    <h1 class="main__title">Создание рецепта</h1>
  </div>
  <div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data" action="
      {% if request.resolver_match.url_name == 'new_recipe' %}
        {% url 'new_recipe' %}
      {% else %}
        {% url 'edit_recipe' recipe.id %}
      {% endif %}
    ">
      {% csrf_token %}
      <div class="form__group">
        <label for={{ form.title.id_for_label }} class="form__label">{{ form.title.label }}</label>
        <div class="form__field-group">
          {{ form.title|add_class:"form__input" }}
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <p class="form__label">Теги</p>
        <div class="form__field-group">
          <div class="tags">
            {% if tags %}
                <div class="tags__item">
                  <input type="checkbox" name="breakfast" id="id_breakfast" class="tags__checkbox tags__checkbox_style_orange" {% if 'breakfast' in tags %}checked{% endif %}>
                  <label for="id_breakfast" class="tags__label">Завтрак</label>
                </div>
                <div class="tags__item">
                  <input type="checkbox" name="lunch" id="id_lunch" class="tags__checkbox tags__checkbox_style_green" {% if 'lunch' in tags %}checked{% endif %}>
                  <label for="id_lunch" class="tags__label">Обед</label>
                </div>
                <div class="tags__item">
                  <input type="checkbox" name="dinner" id="id_dinner" class="tags__checkbox tags__checkbox_style_purple" {% if 'dinner' in tags %}checked{% endif %}>
                  <label for="id_dinner" class="tags__label">Ужин</label>
                </div>
            {% else %}
              <div class="tags__item">
                <input type="checkbox" name="breakfast" id="id_breakfast" class="tags__checkbox tags__checkbox_style_orange" checked>
                <label for="id_breakfast" class="tags__label">Завтрак</label>
              </div>
              <div class="tags__item">
                <input type="checkbox" name="lunch" id="id_lunch" class="tags__checkbox tags__checkbox_style_green" checked>
                <label for="id_lunch" class="tags__label">Обед</label>
              </div>
              <div class="tags__item">
                <input type="checkbox" name="dinner" id="id_dinner" class="tags__checkbox tags__checkbox_style_purple" checked>
                <label for="id_dinner" class="tags__label">Ужин</label>
              </div>
            {% endif %}

          </div>
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <label for="nameIngredient" class="form__label">Ингредиенты</label>
        <div class="form__field-group">
          <div class="form__field-group-ingredientes">
            <div class="form__dropdown">
              <input type="text" id="nameIngredient" class="form__input">
              <div class="form__dropdown-items"></div>
            </div>
            <input type="number" id="cantidad" class="form__input" min="0">
            <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
          </div>
          <div class="form__field-group-ingredientes-container">
            {% if recipe_ingredients %}
              {% for recipe_ingredient in recipe_ingredients%}

                <div class="form__field-item-ingredient" id="ing_{{ forloop.revcounter }}">
                  <span> {{ recipe_ingredient.ingredient.title }} {{ recipe_ingredient.amount }}{{ recipe_ingredient.ingredient.dimension }}</span>
                  <span class="form__field-item-delete"></span>
                  <input id="nameIngredient_{{ forloop.revcounter }}" name="nameIngredient_{{ forloop.revcounter }}" type="hidden" value="аргановое масло">
                  <input id="valueIngredient_{{ forloop.revcounter }}" name="valueIngredient_{{ forloop.revcounter }}" type="hidden" value="{{ recipe_ingredient.amount }}">
                  <input id="unitsIngredient_{{ forloop.revcounter }}" name="unitsIngredient_{{ forloop.revcounter }}" type="hidden" value="{{ recipe_ingredient.ingredient.dimension }}">
                </div>

              {% endfor %}
            {% endif %}
          </div>
          <span class="form__ingredient-link" id="addIng">
            Добавить ингредиент
          </span>
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <label for={{ form.cooking_time.id_for_label }} class="form__label">
          {{ form.cooking_time.label }}
        </label>
        <div class="form__field-group form__field-group_time">
          {{ form.cooking_time|add_class:"form__input" }}
          <label for={{ form.cooking_time.id_for_label }} class="form__label">минут</label>
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <label for={{ form.description.id_for_label }} class="form__label">
          {{ form.description.label }}
        </label>
        <div class="form__field-group">
          {{ form.description|add_class:"form__textarea" }}
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__group">
        <span class="form__label">{{ form.image.label }}</span>
        <div class="form__field-group">
          {{ form.image }}
          <input type="file" class="form__file" name="file" accept="image/*" id="id_file">
          <span class="form__error"></span>
        </div>
      </div>
      <div class="form__footer">
        {% if request.resolver_match.url_name == 'new_recipe' %}
          <button class="button button_style_blue">Создать рецепт</button>
        {% else %}
          <button class="button button_style_blue">Сохранить изменения</button>
        {% endif %}
      </div>
    </form>
  </div>

{% endblock %}

{% block scripts %}

  <script src={% static 'recipes/js/config/config.js' %}></script>
  <script src={% static 'recipes/js/components/Header.js' %}></script>
  <script src={% static 'recipes/js/utils/debouncing.js' %}></script>
  <script src={% static 'recipes/js/api/Api.js' %}></script>
  <script src={% static 'recipes/js/formRecipe.js' %}></script>

{% endblock %}