{% extends "base.html" %}

{% load static %}

{% block title %} Избранное {% endblock %}

{% block content %}
  {% csrf_token %}
  <div class="main__header">
    <h1 class="main__title">{% if author %}{{ author.get_full_name }}{% else %}Рецепты{% endif %}</h1>

    {% include "recipes/tags.html" with tags=tags %}

  </div>

  {% if author %}
    <div class="author-subscribe" data-author={{ author.id }}>
      <p style="padding: 0 0 2em 0;">
        {% if author in request.user.followings %}
          <button class="button button_style_light-blue button_size_subscribe" name="subscribe">
            Отписаться от автора
          </button>
        {% else %}
          <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
            Подписаться на автора
          </button>
        {% endif %}
      </p>
    </div>
  {% endif %}

  <div class="card-list">

    {% for recipe in page %}
      {% include "recipes/recipe_index_card.html" with recipe=recipe %}
    {% endfor %}

  </div>

  {% if page.has_other_pages %}
    {% include "paginator.html" with page=page paginator=paginator %}
  {% endif %}

{% endblock %}

{% block scripts %}
  {% if author %}
    <script src={% static 'recipes/js/components/MainCards.js' %}></script>
    <script src={% static 'recipes/js/components/Purchases.js' %}></script>
    <script src={% static 'recipes/js/components/Favorites.js' %}></script>
    <script src={% static 'recipes/js/components/Subscribe.js' %}></script>
    <script src={% static 'recipes/js/config/config.js' %}></script>
    <script src={% static 'recipes/js/components/AuthorRecipe.js' %}></script>
    <script src={% static 'recipes/js/components/Header.js' %}></script>
    <script src={% static 'recipes/js/api/Api.js' %}></script>
    <script src={% static 'recipes/js/authorRecipe.js' %}></script>
  {% else %}
    <script src={% static 'recipes/js/components/MainCards.js' %}></script>
    <script src={% static 'recipes/js/components/Purchases.js' %}></script>
    <script src={% static 'recipes/js/config/config.js' %}></script>
    <script src={% static 'recipes/js/components/CardList.js' %}></script>
    <script src={% static 'recipes/js/components/Header.js' %}></script>
    <script src={% static 'recipes/js/api/Api.js' %}></script>

    {% if request.user.is_authenticated %}
      <script src={% static 'recipes/js/components/Favorites.js' %}></script>
      <script src={% static 'recipes/js/indexAuth.js' %}></script>
    {% else %}
      <script src={% static 'recipes/js/indexNotAuth.js' %}></script>
    {% endif %}

  {% endif %}

{% endblock%}