{% extends "base.html" %}

{% load static %}
{% load recipe_filters %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href={% static 'recipes/pages/single.css' %}>
{% endblock %}


{% block content %}
  {% csrf_token %}
  <div class="single-card" data-id={{ recipe.id }} data-author={{ recipe.author.id }}>
    <img src="{{ recipe.image.url }}" alt={{ recipe.title }} class="single-card__image">
    <div class="single-card__info">
      <div class="single-card__header-info">
        <h1 class="single-card__title">{{ recipe.title }}</h1>
        <div class="single-card__favorite">

          {% if user.is_authenticated %}
            {% if request.user|is_favorite:recipe %}
              <button class="button button_style_none" name="favorites">
                  <span class="icon-favorite icon-favorite_active"></span>
              </button>
              <div class="single-card__favorite-tooltip tooltip">
                Удалить из избранного
              </div>
            {% else %}
              <button class="button button_style_none" name="favorites" data-out>
                <span class="icon-favorite"></span>
              </button>
              <div class="single-card__favorite-tooltip tooltip">
                Добавить в избранное
              </div>
            {% endif %}
          {% endif %}

        </div>
      </div>
      <ul class="single-card__items">

        {% for tag in recipe.tags.all %}
          {% ifequal 'breakfast' tag.name %}
            <li class="card__item">
              <span class="badge badge_style_orange">Завтрак</span>
            </li>
          {% endifequal %}
          {% ifequal 'lunch' tag.name %}
            <li class="card__item">
              <span class="badge badge_style_green">Обед</span>
            </li>
          {% endifequal %}
          {% ifequal 'dinner' tag.name %}
            <li class="card__item">
              <span class="badge badge_style_purple">Ужин</span>
            </li>
          {% endifequal %}
        {% endfor %}

      </ul>
      <div class="single-card__items single-card__items_column">
        <p class="single-card__text">
          <span class="icon-time"></span> {{ recipe.cooking_time }} мин.
        </p>
        <ul class="single-card__items">
          <li class="single-card__item">
            <p class="single-card__text">
              <span class="icon-user"></span> {{ recipe.author.get_full_name }}
            </p>
          </li>
          <li class="single-card__item">
            {% ifequal request.user recipe.author %}
              <a style="margin-left: 2.5em" href={% url 'edit_recipe' recipe.id %} class="single-card__text">
                Редактировать рецепт
              </a>
            {% endifequal %}
          </li>
        </ul>
      </div>
      <ul class="single-card__items">
        <li class="single-card__item">

          {% if user.is_authenticated %}
            {% if not request.user|is_in_shopping_list:recipe %}
              <button class="button button_style_light-blue" name="purchases" data-out>
                <span class="icon-plus button__icon"></span>Добавить в покупки
              </button>
            {% else %}
              <button class="button button_style_light-blue-outline" name="purchases">
                <span class="icon-check button__icon"></span> Рецепт добавлен
              </button>
            {% endif %}
          {% endif %}

        </li>
        {% if request.user.is_authenticated %}
          <li class="single-card__item">
            {% if request.user|is_follower:recipe.author %}
              <button class="button button_style_light-blue button_size_subscribe" name="subscribe">
                Отписаться от автора
              </button>
            {% else %}
              <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>
                Подписаться на автора
              </button>
            {% endif %}
          </li>
        {% endif %}
      </ul>
      <div class="single-card__section">
        <h3 class="single-card__section-title">Ингридиенты:</h3>
        <div class="single-card__items single-card__items_column">

          {% for recipe_ingredient in recipe.recipe_ingredients.all %}
            <p class=" single-card__section-item">
              {{ recipe_ingredient.ingredient.title }} - {{ recipe_ingredient.amount }} {{ recipe_ingredient.ingredient.dimension }}
            </p>
          {% endfor %}

        </div>
      </div>
      <div class="single-card__section">
        <h3 class="single-card__section-title">Описание:</h3>
        {{ recipe.description|make_paragraphs|safe }}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}

  <script src={% static 'recipes/js/components/MainCards.js' %}></script>
  <script src={% static 'recipes/js/components/Purchases.js' %}></script>
  <script src={% static 'recipes/js/config/config.js' %}></script>
  <script src={% static 'recipes/js/components/Header.js' %}></script>
  <script src={% static 'recipes/js/components/Favorites.js' %}></script>
  <script src={% static 'recipes/js/components/Subscribe.js' %}></script>
  <script src={% static 'recipes/js/api/Api.js' %}></script>

  <script src={% static 'recipes/js/components/SingleCard.js' %}></script>

  <script src={% static 'recipes/js/singlePage.js' %}></script>

{% endblock %}