{% load static %}
{% load recipe_filters %}

<div class="card" data-id={{ recipe.id }}>
  <a href={{ recipe.get_absolute_url }} class="link" target="_blank">
    <img src={{ recipe.image.url }} alt="{{ recipe.title }}" class="card__image">
  </a>
  <div class="card__body">
    <a class="card__title link" href={{ recipe.get_absolute_url }} target="_blank">
      {{ recipe.title }}
    </a>
    <ul class="card__items">

      {% for tag in recipe.tags.all %}
        {% ifequal 'breakfast' tag.name %}
          <li class="card__item">
            <span class="badge badge_style_orange">Завтрак</span>
          </li>
        {% endifequal %}
        {% ifequal 'lunch' tag.name %}
          <li class="card__item">
            <span class="badge badge_style_green">Обед</span>
          </li>
        {% endifequal %}
        {% ifequal 'dinner' tag.name %}
          <li class="card__item">
            <span class="badge badge_style_purple">Ужин</span>
          </li>
        {% endifequal %}
      {% endfor %}

    </ul>
    <div class="card__items card__items_column">
      <p class="card__text">
        <span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
      <p class="card__text">
        <span class="icon-user"></span>
        <a href={% url 'author_recipes' author_id=recipe.author.id %} style="color: black">
          {{ recipe.author.get_full_name }}
        </a>
      </p>
    </div>
  </div>
  <div class="card__footer">
    {% if user.is_authenticated %}
      {% if not request.user|is_in_shopping_list:recipe %}
        <button class="button button_style_light-blue" name="purchases" data-out>
          <span class="icon-plus button__icon"></span>Добавить в покупки
        </button>
      {% else %}
        <button class="button button_style_light-blue-outline" name="purchases">
          <span class="icon-check button__icon"></span> Рецепт добавлен
        </button>
      {% endif %}

      {% if request.user|is_favorite:recipe %}
        <button class="button button_style_none" name="favorites">
            <span class="icon-favorite icon-favorite_active"></span>
        </button>
      {% else %}
        <button class="button button_style_none" name="favorites" data-out>
          <span class="icon-favorite"></span>
        </button>
      {% endif %}
    {% endif %}

  </div>
</div>