{% extends "base.html" %}

{% load static %}

{% block title %}Изменить пароль{% endblock %}

{% block styles %}
  <link rel="stylesheet" href={% static 'pages/form.css' %}>
{% endblock %}

{% block content %}

  <div class="main__header">
    <h1 class="main__title">404</h1>
  </div>
  <div class="custom-center-block">
    <p class="custom-text-block">
      Страница не найдена. Напишите мне об этом, если ошибка повториться.
    </p>
    <div class="custom-button-block">
      <a href={% url 'index' %} class="button button_style_blue">На главную</a>
    </div>
  </div>

{% endblock %}