{% extends "base.html" %}

{% load static %}

{% block title %}Изменить пароль{% endblock %}

{% block styles %}
  <link rel="stylesheet" href={% static 'pages/form.css' %}>
{% endblock %}

{% block content %}

  <div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
  </div>
  <div class="custom-center-block">
    <p class="custom-text-block">
      Ваш пароль был сохранен. Теперь вы можете войти.
    </p>
    <div class="custom-button-block">
      <a href={% url 'login' %} class="button button_style_blue">
        Войти
      </a>
    </div>
  </div>

{% endblock %}