{% extends "base.html" %}

{% load static %}

{% block title %}Изменить пароль{% endblock %}

{% block styles %}
  <link rel="stylesheet" href={% static 'users/pages/form.css' %}>
{% endblock %}

{% block content %}

  <div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
  </div>
  <div class="custom-center-block">
    <p class="custom-text-block">
      Информация о сбросе пароля направлена на ваш электронный ящик.
    </p>
    <div class="custom-button-block">
      <a href={% url 'index' %} class="button button_style_blue">Перейти на главную</a>
    </div>
  </div>

{% endblock %}